<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./stylesheets/index.css">
</head>

<body class="font-['helvetica_now_display']">
    <nav class="w-full flex justify-between px-5 py-3 bg-white shadow-md">
        <h3 class="text-xl text-blue-600">ShopIt</h3>
        <% var loggedin = typeof loggedin !== "undefined" ? loggedin :true %>
        <% if (loggedin) { %>
            <div class="flex gap-5">
                <a href="/shop" class="text-gray-700 hover:text-blue-600 transition duration-300">Shop</a>
                <a href="/cart"class="text-gray-700 hover:text-blue-600 transition duration-300">Cart</a>
                <a href=""class="text-gray-700 hover:text-blue-600 transition duration-300">My Account</a>
                <a class="text-red-600" href="/users/logout">Logout</a>
            </div>
        <% } %>
       
    </nav>